@import './minimalist.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

/* Teste de CSS funcionando */
.test-css {
    background: red !important;
    color: white !important;
    padding: 20px !important;
}
