@import './minimalist.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Teste de CSS funcionando */
.test-css {
    background: red !important;
    color: white !important;
    padding: 20px !important;
}
